@{
    ViewData["Title"] = "Home";
}
<header class="header-style-01">
    <!-- Menu area Starts -->
    <nav class="navbar navbar-area white nav-absolute navbar-expand-lg navbar-border">
        <div class="container container-two nav-container">
            <div class="responsive-mobile-menu">
                <div class="logo-wrapper">
                    <a href="index.html" class="logo">
                        <img src="assets/img/logo-01.png" alt="">
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bizcoxx_main_menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bizcoxx_main_menu">

                <ul class="navbar-nav">
                   <li>  <a href="home">Home</a></li>
                    <li>  <a asp-area="Client" asp-controller="About" asp-action="Index">About</a></li>
                    <li>  <a asp-area="Client" asp-controller="Service" asp-action="Index">Service</a></li>
                    <li>  <a asp-area="Client" asp-controller="Contact" asp-action="Index">Contact</a></li>
                    <li>  <a asp-area="Client" asp-controller="MyProfile" asp-action="Index">My Profile</a></li>
                    <li>  <a asp-area="Client" asp-controller="MyOrder" asp-action="Index">My Order</a></li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <!-- Menu area end -->
</header>

<div class="overlays"></div>

<!-- Header area end -->
<!-- Banner area Starts -->
<div class="banner-area home-one-banner bg-image" style="background-image:url(assets/img/banner/banner-bg.jpg)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="banner-contents">
                    <span class="title-top"> Order any service, anytime from anywhere </span>
                    <h2 class="banner-title"> One-stop solution for your <span class="title-span"> services </span> </h2>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner area end -->
<!-- Category area starts -->
<section class="category-area section-bg-1 padding-top-100 padding-bottom-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10">
                <div class="section-title">
                    <h2 class="title"> Browse <span class="title-color"> Package </span> </h2>
                    <span class="section-para"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                </div>
            </div>
        </div>
        <div class="row margin-top-50">
            <div class="col-lg-12">
                <div class="category-slider dot-style-one">
                    <div class="single-category-item">
                        <div class="single-category">
                            <div class="icon">
                                <i class="flaticon-mop"></i>
                            </div>
                            <div class="category-contents">
                                <h4 class="category-title"> <a data-toggle="modal" data-target="#exampleModal" href="category.html"> Residential Package </a> </h4>
                                <span class="category-para"> 5+ Service </span>
                            </div>
                        </div>
                    </div>
                    <div class="single-category-item">
                        <div class="single-category">
                            <div class="icon">
                                <i class="flaticon-electrician"></i>
                            </div>
                            <div class="category-contents">
                                <h4 class="category-title"> <a data-toggle="modal" data-target="#exampleModal" href="category.html">Organization Package </a> </h4>
                                <span class="category-para"> 5+ Service </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category area end -->
<!-- Marketplace area end -->
<section class="margketplace-area padding-top-100 padding-bottom-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10">
                <div class="section-title">
                    <h2 class="title"> Why Our <span class="title-color"> Marketplace? </span> </h2>
                    <span class="section-para"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                </div>
            </div>
        </div>
        <div class="row margin-top-20">
            <div class="col-lg-4 col-md-6 margin-top-30 marketplace-child">
                <div class="single-marketplace">
                    <div class="icon">
                        <i class="las la-tools"></i>
                    </div>
                    <div class="marketplace-contents">
                        <h4 class="common-title-two"> <a href="javascript:void(0)"> Service Commitment </a> </h4>
                        <p class="common-para"> It is a long established fact that a reader will be distracted by the readable. It is a long established fact that a reader. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 margin-top-30 marketplace-child">
                <div class="single-marketplace">
                    <div class="icon">
                        <i class="las la-users-cog"></i>
                    </div>
                    <div class="marketplace-contents">
                        <h4 class="common-title-two"> <a href="javascript:void(0)"> Super Experience </a> </h4>
                        <p class="common-para"> It is a long established fact that a reader will be distracted by the readable. It is a long established fact that a reader. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 margin-top-30 marketplace-child">
                <div class="single-marketplace">
                    <div class="icon">
                        <i class="las la-shield-alt"></i>
                    </div>
                    <div class="marketplace-contents">
                        <h4 class="common-title-two"> <a href="javascript:void(0)"> User Data Secure </a> </h4>
                        <p class="common-para"> It is a long established fact that a reader will be distracted by the readable. It is a long established fact that a reader. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 margin-top-30 marketplace-child">
                <div class="single-marketplace">
                    <div class="icon">
                        <i class="las la-stopwatch"></i>
                    </div>
                    <div class="marketplace-contents">
                        <h4 class="common-title-two"> <a href="javascript:void(0)"> Fast Service </a> </h4>
                        <p class="common-para"> It is a long established fact that a reader will be distracted by the readable. It is a long established fact that a reader. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 margin-top-30 marketplace-child">
                <div class="single-marketplace">
                    <div class="icon">
                        <i class="las la-file-invoice-dollar"></i>
                    </div>
                    <div class="marketplace-contents">
                        <h4 class="common-title-two"> <a href="javascript:void(0)"> Secure Payment </a> </h4>
                        <p class="common-para"> It is a long established fact that a reader will be distracted by the readable. It is a long established fact that a reader. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 margin-top-30 marketplace-child">
                <div class="single-marketplace">
                    <div class="icon">
                        <i class="las la-headset"></i>
                    </div>
                    <div class="marketplace-contents">
                        <h4 class="common-title-two"> <a href="javascript:void(0)"> Dedicated Support </a> </h4>
                        <p class="common-para"> It is a long established fact that a reader will be distracted by the readable. It is a long established fact that a reader. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Marketplace area end -->
<!-- Professional Service area end -->
<section class="professional-area section-bg-1 padding-top-100 padding-bottom-100 section-bg-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2 class="title"> Popular <span class="title-color"> Professional Services </span> </h2>
                    <span class="section-para extra-padding"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </span>
                </div>
            </div>
        </div>
        <div class="row margin-top-50">
            <div class="col-lg-12">
                <div class="professional-slider nav-style-one">
                    <div class="single-professional-item">
                        <div class="single-professional">
                            <a href="javascript:void(0)" class="professional-thumb">
                                <img src="assets/img/service/ps1.jpg" alt="">
                            </a>
                            <div class="professional-contents">
                                <h6 class="professional-title"> <a href="javascript:void(0)"> Cleaning </a> </h6>
                            </div>
                        </div>
                    </div>
                    <div class="single-professional-item">
                        <div class="single-professional">
                            <a href="javascript:void(0)" class="professional-thumb">
                                <img src="assets/img/service/ps2.jpg" alt="">
                            </a>
                            <div class="professional-contents">
                                <h6 class="professional-title"> <a href="javascript:void(0)"> Moving </a> </h6>
                            </div>
                        </div>
                    </div>
                    <div class="single-professional-item">
                        <div class="single-professional">
                            <a href="javascript:void(0)" class="professional-thumb">
                                <img src="assets/img/service/ps3.jpg" alt="">
                            </a>
                            <div class="professional-contents">
                                <h6 class="professional-title"> <a href="javascript:void(0)"> Painting </a> </h6>
                            </div>
                        </div>
                    </div>
                    <div class="single-professional-item">
                        <div class="single-professional">
                            <a href="javascript:void(0)" class="professional-thumb">
                                <img src="assets/img/service/ps4.jpg" alt="">
                            </a>
                            <div class="professional-contents">
                                <h6 class="professional-title"> <a href="javascript:void(0)"> Electrician </a> </h6>
                            </div>
                        </div>
                    </div>
                    <div class="single-professional-item">
                        <div class="single-professional">
                            <a href="javascript:void(0)" class="professional-thumb">
                                <img src="assets/img/service/ps5.jpg" alt="">
                            </a>
                            <div class="professional-contents">
                                <h6 class="professional-title"> <a href="javascript:void(0)"> Saloon </a> </h6>
                            </div>
                        </div>
                    </div>
                    <div class="single-professional-item">
                        <div class="single-professional">
                            <a href="javascript:void(0)" class="professional-thumb">
                                <img src="assets/img/service/ps2.jpg" alt="">
                            </a>
                            <div class="professional-contents">
                                <h6 class="professional-title"> <a href="javascript:void(0)"> Moving </a> </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Professional Service area end -->
<!-- Modal Start -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="title" id="exampleModalLabel">Choose Package Type</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Category area starts -->
                <section class="category-area padding-top-10 padding-bottom-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-3 col-md-3 col-sm-6 margin-top-30 category-child">
                                <a asp-area="Client" asp-controller="OrderDetails" asp-action="Index">
                                        <div class="single-category style-02">
                                            <div class="icon">
                                                <img src="assets/img/category/c1.png" alt="">
                                            </div>
                                            <div class="category-contents">
                                                <span class="category-para"> 1 BHK </span>
                                            </div>
                                        </div>
                                    </a>
                            </div>
                            <div class="col-xl-3 col-md-3 col-sm-6 margin-top-30 category-child">

                                <a asp-area="Client" asp-controller="OrderDetails" asp-action="Index">
                                    <div class="single-category style-02">
                                        <div class="icon">
                                            <img src="assets/img/category/c2.png" alt="">
                                        </div>
                                        <div class="category-contents">
                                            <span class="category-para"> 2 BHK </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-3 col-md-3 col-sm-6 margin-top-30 category-child">
                                <a asp-area="Client" asp-controller="OrderDetails" asp-action="Index">
                                    <div class="single-category style-02">
                                        <div class="icon">
                                            <img src="assets/img/category/c3.png" alt="">
                                        </div>
                                        <div class="category-contents">
                                            <span class="category-para"> 3 BHK </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Category area end -->
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->