
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Fix My Space </title>
    <!-- favicon -->
    <link rel=icon href="favicons.ico" sizes="16x16" type="icon/ico">
    <!-- animate -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" asp-append-version="true" />

    <!-- Flat Icon -->
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <!-- slick carousel  -->
    <link rel="stylesheet" href="assets/css/slick.css">
    <!-- LineAwesome -->
    <link rel="stylesheet" href="assets/css/line-awesome.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
</head>

<body>
    @* <div class="preloader" id="preloader">
    <div class="preloader-inner">
    <div class="">
    <img src="~/img/loaderfms3.gif" alt="FIXMYSPACE">
    </div>
    </div>
    </div>*@
    @await Component.InvokeAsync("Menu")
    <div class="overlays"></div>
    @RenderBody()
    @await Component.InvokeAsync("Footer")

    @await Component.InvokeAsync("SignInSignUp")


    @Html.Partial("~/views/shared/BookAppoinment.cshtml",Model)
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    </div>
    <!-- footer area end -->
    <!-- back to top area start -->
    <div class="back-to-top">
        <span class="back-top"><i class="las la-angle-up"></i></span>
    </div>
    <!-- back to top area end -->
    <!-- jquery -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <!-- jquery Migrate -->
    <script src="assets/js/jquery-migrate.min.js"></script>
    <!-- bootstrap -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- wow -->
    <script src="assets/js/wow.min.js"></script>
    <!-- Slick Slider -->
    <script src="assets/js/slick.js"></script>
    <!-- Nice Select -->
    <script src="assets/js/jquery.nice-select.js"></script>
    <!-- Nice Scroll -->
    <script src="assets/js/jquery.nicescroll.min.js"></script>
    <!-- main js -->
    <script src="assets/js/main.js"></script>

    <script src="~/js/common.js"></script>

    <script src="~/js/toastr.min.js"></script>

</body>

</html>