<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FIXMYSPACE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/css/select2.min.css" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/jquery.datatables.min.js"></script>
    <script src="~/js/datatables.bootstrap5.min.js"></script>
    <script src="~/js/toastr.min.js"></script>

    @* <script src="~/js/select2.min.js"></script>*@

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <link href="~/css/datepicker.css" rel="stylesheet" />
    <script src="~/js/bootstrap-datepicker.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <img src="~/img/Logo-Fix-My.png" class="img-fluid" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @*  <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                        <li class="nav-item dropdown" id="myDropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" data-bs-toggle="dropdown">Master</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Package</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="SubPackage" asp-action="Index">Sub Package</a></li>
                                 <li>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Banner" asp-action="Index">Banner</a>
                        </li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Service" asp-action="Index">Services</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Coupon" asp-action="Index">Coupon</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Vendor" asp-action="Index">Vendor</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" id="myDropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" data-bs-toggle="dropdown">Package Rate</a>
                            <ul class="dropdown-menu">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="PackageRate" asp-action="Index">Package Rate</a>
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="PackageRateLog" asp-action="Index">Package Rate Log</a>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="Index">User Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Labour Request</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="PurchaseDetails" asp-action="Index">Purchase Details</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="btn btn-light btn-sm" asp-area="Admin" asp-controller="Admin" asp-action="Logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="min-height:550px;">
        <main role="main" class="pb-2">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:#cacaca">
        <div class="container">
            &copy; 2023 - FIXMYSPACE@* - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    var loaderPath = '@Url.Content("~/img/Spinner.gif")';

</script>