html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

html {
	position: relative;
	min-height: 100%;
}

body {
	/*margin-bottom: 60px;*/
}
.preloaded {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px 0px 0px -50px;
}

.Required {
	margin-left: 5px;
	color: #dc3545;
	font-weight: bold;
}
