@Html.AntiForgeryToken()
@using BusinessEntities.RequestDto
@model PackageRateRequest
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_Filters",Model)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input value="Create" onclick="AddPackageRate()" class="btn btn-primary btn-sm float-end" type="button" />
    </div>
</div>

<div class="pt-2" id="divPackageRate">
  
</div>
<h5>Package Rate List</h5>
<div class="row">
    <div class="col-md-12 pt-2">
        <section id="header">
            <table id="PackageRateGrid" class="table table-bordered  table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Package Name</th>
                        <th>Sub Package Name</th>
                        <th>Service Name</th>
                        <th>Rate</th>
                        <th>Discount</th>
                        <th>Package Amount</th>
                        <th>AMC Period</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>
    </div>
</div>
<script src="~/js/PackageRate.js" asp-append-version="true"></script>
<script type="text/javascript">
    $(function () {
        BindPackageRateDatatable();
    });
</script>
