@using BusinessEntities.ResponseDto
@model UserResponse
<header class="header-style-01">
    <!-- Menu area Starts -->
    <nav class="navbar navbar-area white nav-absolute navbar-expand-lg navbar-border">
        <div class="container container-two nav-container">
            <div class="responsive-mobile-menu">
                <div class="logo-wrapper">
                    <a asp-controller="Home" asp-action="Index" class="">
                        <img src="bannerImage/@ViewBag.Logo" alt="Logo" class="img-fluid" />
                    </a>
                </div>
                <a href="#0" class="click_show_icon">
                    <i class="las la-ellipsis-v"></i>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bizcoxx_main_menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bizcoxx_main_menu">

                <ul class="navbar-nav">
                    <li>  <a href="home">Home</a></li>
                    <li>  <a asp-area="" asp-controller="AboutUs" asp-action="Index">About</a></li>
                    <li>  <a asp-area="" asp-controller="Services" asp-action="Index">Service</a></li>
                    <li>  <a asp-area="" asp-controller="Contactus" asp-action="Index">Contact</a></li>
                </ul>
            </div>
            <div class="nav-right-content">
                <div class="info-bar-item">
                    @if (Model != null && Model.FirstName != null)
                    {
                        <div class="notification-icon icon">
                            <a class="single-icon author-thumb" href="javascript:void(0)">  <img width="40" height="40" src="assets/img/IconUser.png" alt=""></a>
                            <div class="notification-list-wrapper">
                                <h6 class="notification-title"> <span style="color: var(--main-color-one)" class="title">@Model.FirstName</span> </h6>
                                <ul class="notification-list">
                                    <li class="list">
                                        <div class="notification-list-flex">
                                            <div class="notification-contents">
                                                <a class="list-title" asp-area="" asp-controller="User" asp-action="Edit" asp-route-Id="@Model.Id"> My Profile </a>
                                            </div>
                                        </div>
                                    </li>
                                   
                                    <li class="list">
                                        <div class="notification-list-flex">
                                            <div class="notification-contents">
                                                <a class="list-title" asp-area="" asp-controller="Payment" asp-action="Index" asp-route-userId="@Model.Id"> Payment Details </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list">
                                        <div class="notification-list-flex">
                                            <div class="notification-contents">
                                                <a class="list-title" data-toggle="modal" data-target="#BookAppoinmentModal" href="javascript:void(0)">Labour Request</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                </div>
                <div class="author-nav-content info-bar-item-two">
                    @if (Model != null && Model.FirstName != null)
                    {
                        <a id="ancSignOut" asp-area="" asp-controller="Login" asp-action="SignOut"><span class="title" style="font-weight: bold;color: var(--main-color-one);">Log Out</span></a>
                    }
                    else
                    {
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#SignInSignUpModal"><span style="color: var(--main-color-one)" class="title">Login</span></a>
                    }
                </div>
            </div>
        </div>
    </nav>
    <!-- Menu area end -->
</header>