@Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-12">
        <input value="Create" onclick="AddSubPackage()" class="btn btn-primary btn-sm float-end" type="button" />
    </div>
</div>
<div class="pt-2" id="divSubPackage">
  
</div>
<h5>Sub Package List</h5>
<div class="row">
    <div class="col-md-12 pt-2">
        <section id="header">
            <table id="SubPackageGrid" class="table table-bordered  table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Package Name</th>
                        <th>Sub Package Name</th>
                        <th>Image</th>
                        <th>Download</th>
                        <th>Terms And Condition</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>
    </div>
</div>
<script src="~/js/subpackage.js" asp-append-version="true"></script>
<script type="text/javascript">
    var imagePath = '@Constants.SiteUrl' + 'subpackageImage/';
    $(function () {
        BindSubPackageDatatable();
    });
</script>
