@{
    Layout = null;
}
@using BusinessEntities.RequestDto
@model LoginRequest

@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @id = "frmCreate" }))
{
    @Html.AntiForgeryToken()
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Login</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/WEMAINTAIN.styles.css" asp-append-version="true" />
    </head>
    <body style="background-color:#f8f9fa">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">WEMAINTAIN</h3></div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="mb-3 col-md-12">
                                                <label for="exampleFormControlInput1" class="form-label">Mobile No</label>
                                                @Html.TextBoxFor(model => model.MobileNo, new { @Class = "form-control" })
                                            </div>
                                            <div class="mb-3 col-md-12">
                                                <label for="exampleFormControlInput1" class="form-label">Password</label>
                                                @Html.TextBoxFor(model => model.Password, new { @Class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="mt-4 mb-0 text-center">
                                               <button type="submit" class="btn btn-success btn-sm me-md-2">Login</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
    </html>
}