@Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-12">
        <input value="Create" onclick="AddPackage()" class="btn btn-primary btn-sm float-end" type="button" />
    </div>
</div>
<div class="pt-2" id="divPackage">
</div>
<h5>Package List</h5>
<div class="row">
    <div class="col-md-12 pt-2">
        <section id="header">
            <table id="categoryGrid" class="table table-bordered  table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Package Name</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>
    </div>
</div>
<script src="~/js/category.js" asp-append-version="true"></script>
<script type="text/javascript">
    var imagePath = '@Constants.SiteUrl' + 'categoryImage/';
    $(function () {
        BindCategoryDatatable();
    });
</script>
