@Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-12">
        <input value="Create" onclick="AddPurchaseDetails()" class="btn btn-primary btn-sm float-end" type="button" />
    </div>
</div>
<div class="pt-2" id="divPurchaseDetails">
  
</div>
<h5>Purchase Details List</h5>
<div class="row">
    <div class="col-md-12 pt-2">
        <section id="header">
            <table id="PurchaseDetailsGrid" class="table table-bordered  table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Package Name</th>
                        <th>Sub Package Name</th>
                        <th>Service Name</th>
                        <th>Rate</th>
                        <th>Discount</th>
                        <th>Package Amount</th>
                        <th>AMC Period</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>
    </div>
</div>
<script src="~/js/purchasedetails.js" asp-append-version="true"></script>
<script type="text/javascript">
    $(function () {
        BindPurchaseDetailsDatatable();
    });
</script>
