@{
    ViewData["Title"] = "AboutUs";
}
@using BusinessEntities.ResponseDto
@model UserResponse
<style>
    
    .banner-area.home-one-banner {
        padding: 0px 0 119px;
        background-color: var(--main-color-grey) !important;
    }

        .banner-area.home-one-banner::after {
            background-color:white;
        }

    .navbar-nav  a {
        color: var(--heading-color)
    }
</style>

<!-- Header area end -->
<!-- Banner Inner area Starts -->

<div class="banner-area home-one-banner">
    
</div>

<div class="banner-inner-area section-bg-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-inner-contents">
                    <ul class="inner-menu">
                        <li class="list"><a asp-controller="Home" asp-action="Index"> Home </a></li>
                        <li class="list"> About </li>
                    </ul>
                    <h2 class="banner-inner-title"> About Us </h2>
                </div>
            </div>
        </div>
    </div>
</div>
           
<!-- Banner Inner area end -->
<!-- About area Starts -->
<section class="About-area padding-top-70 padding-bottom-140">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 margin-top-30">
                <div class="about-thumb-content">
                    <div class="about-shape">
                        <img src="assets/img/about/about-shape.jpg" alt="">
                    </div>
                    <div class="about-thumb">
                        <img src="bannerImage/@ViewBag.AboutUs" alt="AboutUs">
                        @*<div class="about-experience">
                            <h2 class="years-tiitle"> 8 Years </h2>
                            <h4 class="experience-tiitle"> Experience </h4>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-6 margin-top-30">
                <div class="single-about">
                    <h2 class="about-title">
                        15 Years of experience in
                        giving best services
                    </h2>
                    <div class="about-contents">
                        <p class="about-para">
                            Our track record of successful projects and satisfied customers is a testament to our commitment to excellence and customer
                            satisfaction.
                        </p>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="dashboard-reviews">
                                    <div class="about-review-tab">
                                        <div class="about-seller-flex-content flex-start padding-top-40">
                                            <div class="about-seller-thumb">
                                                <a href="javascript:void(0)"> <img src="assets/img/about/Smile-05.png" alt=""> </a>
                                            </div>
                                            <div class="about-seller-content">
                                                <h5 class="title"> <a href="javascript:void(0)"> Customer satisfaction</a> </h5>
                                                <p class="about-review-para">Our company prioritizes customer satisfaction by delivering timely and reliable services ensuring that their needs are met.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dashboard-reviews">
                                    <div class="about-review-tab">
                                        <div class="about-seller-flex-content flex-start padding-top-40">
                                            <div class="about-seller-thumb">
                                                <a href="javascript:void(0)"> <img src="assets/img/about/star-05.png" alt=""> </a>
                                            </div>
                                            <div class="about-seller-content">
                                                <h5 class="title"> <a href="javascript:void(0)">Quality solutions</a> </h5>
                                                <p class="about-review-para">Our team uses has great expertise and experience to provide customized solutions that are tailored to each customer's unique needs.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dashboard-reviews">
                                    <div class="about-review-tab">
                                        <div class="about-seller-flex-content flex-start padding-top-40">
                                            <div class="about-seller-thumb">
                                                <a href="javascript:void(0)"> <img src="assets/img/about/People-05.png" alt=""> </a>
                                            </div>
                                            <div class="about-seller-content">
                                                <h5 class="title"> <a href="javascript:void(0)">Skilled team</a> </h5>
                                                <p class="about-review-para">Our team comprises experts in various areas of maintenance services, ensuring that the company provides comprehensive and effective solutions to its customers.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Client Logo area ends -->

<script src="~/js/client/home.js" asp-append-version="true"></script>
<!-- Modal End -->
<script type="text/javascript">
    $(document).ready(function () {
        OnHomePageLoad();
    })
</script>
