@{
    ViewData["Title"] = "AboutUs";
}
@using BusinessEntities.ResponseDto
@model UserResponse
<header class="header-style-01">
    <!-- Menu area Starts -->
    <nav class="navbar navbar-area navbar-two navbar-expand-lg navbar-bg-1">
        <div class="container container-two nav-container">
            <div class="responsive-mobile-menu">
                <div class="logo-wrapper">
                    <a asp-controller="Home" asp-action="Index" class="logo">
                        <img src="bannerImage/@ViewBag.Logo" alt="Logo" class="img-fluid" />
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bizcoxx_main_menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bizcoxx_main_menu">
                <ul class="navbar-nav">
                    <li>  <a href="home">Home</a></li>
                    <li>  <a asp-area="" asp-controller="AboutUs" asp-action="Index">About</a></li>
                    <li>  <a asp-area="" asp-controller="Service" asp-action="Index">Service</a></li>
                    <li>  <a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a></li>
                </ul>
            </div>
            <div class="nav-right-content">
                <div class="info-bar-item">
                    <div class="notification-icon icon">
                        <a class="single-icon" href="javascript:void(0)"> <i class="las la-bell"></i> </a>
                        <span class="notification-number"> 5 </span>
                        <div class="notification-list-wrapper">
                            <h6 class="notification-title"> Notifications </h6>
                            <ul class="notification-list">
                                <li class="list">
                                    <div class="notification-list-flex">
                                        <div class="item-icon">
                                            <i class="las la-bell"></i>
                                        </div>
                                        <div class="notification-contents">
                                            <a class="list-title" href="javascript:void(0)"> Notification One </a>
                                            <span class="list-sub"> 4 hours ago </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="author-nav-content info-bar-item-two">
                    @if (Model != null && Model.FirstName != null)
                    {
                        <span style="color:white" class="title">@Model.FirstName</span>
                        <a asp-area="" asp-controller="Login" asp-action="SignOut"><span class="title" style="font-weight: bold;color: var(--main-color-one);">Log Out</span></a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Login" asp-action="Index"><span class="title">Login</span></a>
                    }
                </div>
            </div>
        </div>
    </nav>
    <!-- Menu area end -->
</header>
<div class="overlays"></div>
<!-- Header area end -->
<!-- Banner Inner area Starts -->
<div class="banner-inner-area section-bg-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-inner-contents">
                    <ul class="inner-menu">
                        <li class="list"><a asp-controller="Home" asp-action="Index"> Home </a></li>
                        <li class="list"> About </li>
                    </ul>
                    <h2 class="banner-inner-title"> About Us </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Inner area end -->
<!-- About area Starts -->
<section class="About-area padding-top-70 padding-bottom-140">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 margin-top-30">
                <div class="about-thumb-content">
                    <div class="about-shape">
                        <img src="assets/img/about/about-shape.jpg" alt="">
                    </div>
                    <div class="about-thumb">
                        <img src="bannerImage/@ViewBag.AboutUs" alt="AboutUs">
                        @*<div class="about-experience">
                            <h2 class="years-tiitle"> 8 Years </h2>
                            <h4 class="experience-tiitle"> Experience </h4>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-6 margin-top-30">
                <div class="single-about">
                    <h2 class="about-title">
                        15 Years of experience in
                        giving best services
                    </h2>
                    <div class="about-contents">
                        <p class="about-para">
                            Our track record of successful projects and satisfied customers is a testament to our commitment to excellence and customer
                            satisfaction.
                        </p>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="dashboard-reviews">
                                    <div class="about-review-tab">
                                        <div class="about-seller-flex-content flex-start padding-top-40">
                                            <div class="about-seller-thumb">
                                                <a href="javascript:void(0)"> <img src="assets/img/about/Happy.png" alt=""> </a>
                                            </div>
                                            <div class="about-seller-content">
                                                <h5 class="title"> <a href="javascript:void(0)"> Customer satisfaction</a> </h5>
                                                <p class="about-review-para">Our company prioritizes customer satisfaction by delivering timely and reliable services ensuring that their needs are met.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dashboard-reviews">
                                    <div class="about-review-tab">
                                        <div class="about-seller-flex-content flex-start padding-top-40">
                                            <div class="about-seller-thumb">
                                                <a href="javascript:void(0)"> <img src="assets/img/about/star.png" alt=""> </a>
                                            </div>
                                            <div class="about-seller-content">
                                                <h5 class="title"> <a href="javascript:void(0)">Quality solutions</a> </h5>
                                                <p class="about-review-para">Our team uses has great expertise and experience to provide customized solutions that are tailored to each customer's unique needs.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dashboard-reviews">
                                    <div class="about-review-tab">
                                        <div class="about-seller-flex-content flex-start padding-top-40">
                                            <div class="about-seller-thumb">
                                                <a href="javascript:void(0)"> <img src="assets/img/about/Pepole.png" alt=""> </a>
                                            </div>
                                            <div class="about-seller-content">
                                                <h5 class="title"> <a href="javascript:void(0)">Skilled team</a> </h5>
                                                <p class="about-review-para">Our team comprises experts in various areas of maintenance services, ensuring that the company provides comprehensive and effective solutions to its customers.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Client Logo area ends -->

<script src="~/js/client/home.js" asp-append-version="true"></script>
<!-- Modal End -->
<script type="text/javascript">
    $(document).ready(function () {
        OnHomePageLoad();
    })
</script>
