@{
    ViewData["Title"] = "Home";
}


@*@using BusinessEntities.ResponseDto
@model UserResponse*@





<!-- Header area end -->
<!-- Banner area Starts -->
<div class="banner-area home-one-banner bg-image" style="background-image:url(bannerImage/@ViewBag.BannerImg)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="banner-contents">
                    <span class="title-top"> Order any service, anytime from anywhere </span>
                    <h2 class="banner-title"> One-stop solution for your <span class="title-span"> services </span> </h2>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner area end -->
<section id="divCategroy" class="category-area section-bg-1 padding-top-50 padding-bottom-50">
</section>


<!-- Professional Service area end -->
<section class="professional-area grey-background-color  padding-bottom-50 section-bg-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-8 col-md-10">
                            <div class="section-title">
                                <h2 class="category-para"> From Clients</h2>
                                <ol class="carousel-indicators" style="position:sticky">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <span class="section-para d-block w-100">
                                            Amazing service by FIXMYSPACE ! Loved how explained things and made me comfortable.

                                        </span>
                                        <div class="pt-2">
                                            -Jayesh Vishwakarma
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <span class="section-para d-block w-100">
                                            Professional, punctual. Solid service 👍👍

                                        </span>
                                        <div class="pt-2">
                                            -Amarnath Sharma
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <span class="section-para d-block w-100">
                                            Very patient and very nice service. Totally happy with both services. Will definitely recommend.
                                        </span>
                                        <div class="pt-2">
                                            -Shivkumar Sawant
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
    @*  <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-8">
    <div class="section-title">
    <h2 class="category-para"> From Clients  </h2>
    <span class="section-para extra-padding">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat
    </span>
    </div>
    </div>
    </div>
    </div>*@
</section>

<!-- Professional Service area end -->

<section id="divServices" class="category-area section-bg-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-10">
                <div class="section-title">
                    <h2 class="category-para"> Other Services @*<span class="title-color"> Package </span> *@</h2>
                    <span class="section-para">
                        For all your quick services need we have a variery of services ready to be booked instantly. Choose from the below listed catagory.
                    </span>
                </div>
            </div>
        </div>
        <div class="row margin-top-50">
            <div class="single-category-item col-lg-3">
                <a href="#" onClick="LoadSubPackageSection(1)">
                    <div class="single-category">
                        <div class="icon">
                            <img src="~/img/Painting-03.png" width="60" height="60" class="img-fluid" alt="NoImage">
                        </div>
                        <div class="category-contents padding-top-10">
                            <h4 class="category-title"> Painting </h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="single-category-item col-lg-3">
                <a href="#" onClick="LoadSubPackageSection(1)">
                    <div class="single-category">
                        <div class="icon">
                            <img src="~/img/Plumbing-03.png" class="img-fluid" alt="NoImage">
                        </div>
                        <div class="category-contents padding-top-10">
                            <h4 class="category-title"> Plumbing </h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="single-category-item col-lg-3">
                <a href="#" onClick="LoadSubPackageSection(1)">
                    <div class="single-category">
                        <div class="icon">
                            <img src="~/img/Electrical-03.png" class="img-fluid" alt="NoImage">
                        </div>
                        <div class="category-contents padding-top-10">
                            <h4 class="category-title"> Electrical </h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="single-category-item col-lg-3">
                <a href="#" onClick="LoadSubPackageSection(1)">
                    <div class="single-category">
                        <div class="icon">
                            <img src="~/img/Carpenter-03.png" class="img-fluid" alt="NoImage">
                        </div>
                        <div class="category-contents padding-top-10">
                            <h4 class="category-title"> Carpentry </h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>



<!-- Modal Start -->

<script src="~/js/client/home.js" asp-append-version="true"></script>

<script src="~/js/client/user.js" asp-append-version="true"></script>

<script type="text/javascript">
    $(document).ready(function () {
        OnHomePageLoad();
    })
</script>

