<header class="header-style-01">
    <!-- Menu area Starts -->
    <nav class="navbar navbar-area navbar-two navbar-expand-lg section-bg-2">
        <div class="container container-two nav-container">
            <div class="responsive-mobile-menu">
                <div class="logo-wrapper">
                    <a href="index.html" class="logo">
                        <img src="assets/img/logo-03.png" alt="">
                    </a>
                </div>
                <a href="#0" class="click_show_icon">
                    <i class="las la-ellipsis-v"></i>
                </a>
                <button class="navbar-toggler black-color" type="button" data-toggle="collapse" data-target="#bizcoxx_main_menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
                       <div class="collapse navbar-collapse" id="bizcoxx_main_menu">
                  <ul class="navbar-nav">
                 <li>  <a href="home">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="service_list.html">Service List</a></li>
                    <li><a href="contact.html">contact</a></li>
                    <li><a href="contact.html">My Profile</a></li>
                    <li><a href="contact.html">Ordered Details</a></li>
                </ul>
               </div> </div>
    </nav>
    <!-- Menu area end -->
</header>
<div class="overlays"></div>
<section class="location-overview-area padding-top-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form id="msform" class="msform">
                    <fieldset class="padding-top-20 padding-bottom-100">
                        <div class="row">
                            <div class="col-lg-8 margin-top-30">
                                <div class="service-overview-wrapper padding-bottom-30">
                                    <div class="overview-author overview-author-border">
                                        <div class="overview-flex-author">
                                            <div class="overview-thumb">
                                                <img src="assets/img/service/overview2.jpg" alt="">
                                            </div>
                                            <div class="overview-contents">
                                                <h4 class="overview-title"> <a href="javascript:void(0)"> Lorem ipsum dolor sit amet, consectetur adipiscing about Aelit</a> </h4>
                                                <span class="overview-review"> <i class="las la-star"></i> 4.9 <b>(438)</b> </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="overview-single padding-top-40">
                                        <h4 class="title"> What's Included </h4>
                                        <div class="include-contents margin-top-30">
                                            <div class="single-include">
                                                <ul class="include-list">
                                                    <li class="lists">
                                                        <div class="list-single">
                                                            <span class="rooms"> AC Service </span>
                                                        </div>
                                                        <div class="list-single">
                                                            <span class="values"> $50 </span>
                                                            <span class="value-input"> <input type="text" value="1"> </span>
                                                        </div>
                                                    </li>
                                                    <li class="lists"> <a class="remove" href="javascript:void(0)">Remove</a> </li>
                                                </ul>
                                            </div>
                                            <div class="single-include">
                                                <ul class="include-list">
                                                    <li class="lists">
                                                        <div class="list-single">
                                                            <span class="rooms"> Fridge Service </span>
                                                        </div>
                                                        <div class="list-single">
                                                            <span class="values"> $40 </span>
                                                            <span class="value-input"> <input type="text" value="2"> </span>
                                                        </div>
                                                    </li>
                                                    <li class="lists"> <a class="remove" href="javascript:void(0)">Remove</a> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="overview-single padding-top-60">
                                        <h4 class="title"> Upgrade your order with extras </h4>
                                        <div class="row">
                                            <div class="col-lg-6 margin-top-30">
                                                <div class="overview-extra style-02">
                                                    <div class="overview-extra-service">
                                                        <div class="checkbox-inlines">
                                                            <input class="check-input" type="checkbox" id="check4">
                                                            <label class="checkbox-label" for="check4"> Ac Cleaning </label>
                                                        </div>
                                                        <div class="overview-extra-flex-content">
                                                            <span class="price-value"> $75 </span>
                                                            <div class="list-single">
                                                                <span class="values"> $25 </span>
                                                                <span class="value-input"> <input type="text" value="3"> </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="overview-extra-thumb">
                                                        <img src="assets/img/service/extra1.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 margin-top-30">
                                                <div class="overview-extra style-02">
                                                    <div class="overview-extra-service">
                                                        <div class="checkbox-inlines">
                                                            <input class="check-input" type="checkbox" id="check5">
                                                            <label class="checkbox-label" for="check5"> Plug Change </label>
                                                        </div>
                                                        <div class="overview-extra-flex-content">
                                                            <span class="price-value"> $75 </span>
                                                            <div class="list-single">
                                                                <span class="values"> $25 </span>
                                                                <span class="value-input"> <input type="text" value="3"> </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="overview-extra-thumb">
                                                        <img src="assets/img/service/extra2.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 margin-top-30">
                                                <div class="overview-extra style-02">
                                                    <div class="overview-extra-service">
                                                        <div class="checkbox-inlines">
                                                            <input class="check-input" type="checkbox" id="check6">
                                                            <label class="checkbox-label" for="check6"> Performance Check </label>
                                                        </div>
                                                        <div class="overview-extra-flex-content">
                                                            <span class="price-value"> $75  </span>
                                                            <div class="list-single">
                                                                <span class="values"> $25 </span>
                                                                <span class="value-input"> <input type="text" value="3"> </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="overview-extra-thumb">
                                                        <img src="assets/img/service/extra3.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 margin-top-30">
                                                <div class="overview-extra style-02">
                                                    <div class="overview-extra-service">
                                                        <div class="checkbox-inlines">
                                                            <input class="check-input" type="checkbox" id="check7">
                                                            <label class="checkbox-label" for="check7"> Dust Cleaning </label>
                                                        </div>
                                                        <div class="overview-extra-flex-content">
                                                            <span class="price-value"> $75 </span>
                                                            <div class="list-single">
                                                                <span class="values"> $25 </span>
                                                                <span class="value-input"> <input type="text" value="3"> </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="overview-extra-thumb">
                                                        <img src="assets/img/service/extra4.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="overview-single padding-top-60">
                                        <h4 class="title"> Benifits of the Package: </h4>
                                        <ul class="overview-benefits margin-top-30">
                                            <li class="list"> Professional Service at your Doorstep</li>
                                            <li class="list"> Refreshing new look</li>
                                            <li class="list"> High quality products from renowned brands. </li>
                                            <li class="list"> 100+ hour trained salon experts in specific fields. </li>
                                            <li class="list"> High quality salon instruments and techniques. </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 margin-top-30">
                                <div class="service-overview-summery">
                                    <h4 class="title"> Booking Summery </h4>
                                    <div class="overview-summery-contents">
                                        <div class="single-summery">
                                            <span class="summery-title"> Appointment Package Service </span>
                                            <div class="summery-list-all">
                                                <ul class="summery-list">
                                                    <li class="list">
                                                        <span class="rooms"> AC Service</span>
                                                        <span class="room-count">1</span>
                                                        <span class="value-count">$50</span>
                                                    </li>
                                                    <li class="list">
                                                        <span class="rooms"> Fridge </span>
                                                        <span class="room-count">2</span>
                                                        <span class="value-count">$80</span>
                                                    </li>
                                                </ul>
                                                <ul class="summery-result-list">
                                                    <li class="result-list">
                                                        <span class="rooms"> Pagckage Fee</span>
                                                        <span class="value-count">$130</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="single-summery">
                                            <span class="summery-title"> Extra Service </span>
                                            <div class="summery-list-all">
                                                <ul class="summery-list">
                                                    <li class="list">
                                                        <span class="rooms"> AC Clean</span>
                                                        <span class="room-count">1</span>
                                                        <span class="value-count">$10</span>
                                                    </li>
                                                    <li class="list">
                                                        <span class="rooms"> Fridge</span>
                                                        <span class="room-count">1</span>
                                                        <span class="value-count">$15</span>
                                                    </li>
                                                    <li class="list">
                                                        <span class="rooms"> Performance</span>
                                                        <span class="room-count">1</span>
                                                        <span class="value-count">$10</span>
                                                    </li>
                                                </ul>
                                                <ul class="summery-result-list result-border padding-bottom-20">
                                                    <li class="result-list">
                                                        <span class="rooms"> Subtotal</span>
                                                        <span class="value-count">$165</span>
                                                    </li>
                                                </ul>
                                                <ul class="summery-result-list result-border padding-bottom-20">
                                                    <li class="result-list">
                                                        <span class="rooms"> Tax(+)15%</span>
                                                        <span class="value-count">$25</span>
                                                    </li>
                                                </ul>
                                                <ul class="summery-result-list">
                                                    <li class="result-list">
                                                        <span class="rooms"> <strong>Total</strong></span>
                                                        <span class="value-count">$140</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="btn-wrapper">
                                            <a href="javascript:void(0)" class="cmn-btn btn-appoinment btn-bg-1"> Continue </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="button" name="next" class="next action-button" value="Pay">
                        <input type="button" name="previous" class="previous action-button-previous" value="Back">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>